<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-4.0.xsd">
		
	<!-- 1.BASIC WINDOWS SECURITY -->
	<http>
		<intercept-url pattern="/welcome*" access="hasRole('ROLE_USER')"/>
		<http-basic/>
	</http>
	
	<!-- 2.BASIC FORM SECURITY -->
<!--  	<http> -->
<!-- 		<intercept-url pattern="/welcome*" access="hasRole('ROLE_USER')"/> -->
<!-- 		<form-login/> -->
<!-- 		<logout logout-success-url=""/> -->
<!-- 	</http> -->
	
	<!-- 3.CUSTOM FORM SECURITY -->
<!--  	<http> -->
<!-- 		<intercept-url pattern="/welcome*" access="hasRole('ROLE_USER')"/> -->
<!-- 		<form-login login-page="/login" default-target-url="/welcome" authentication-failure-url="/loginfailure"/> -->
<!-- 		<logout logout-success-url="/home"/> -->
<!-- 	</http>  -->
	
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="penhchet" password="123" authorities="ROLE_USER"/>
				<user name="sina" password="123" authorities="ROLE_USER"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>
	